/* Estilos globais */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Estilos de fundo */
:root {
    --primary-color: transparent;; /* Fundo semitransparente */
    --secondary-color: transparent;
    --background-color: #94c7a6;
    --text-color: #e0dcdd;
    --text-light-color: #4d4e4e;
}

.gallery-container h1 {
    font-size: 2em; /* Tamanho da fonte do título */
    color: var(--text-light-color); /* Usando a cor definida na root */
    text-align: center; /* Centraliza o texto */
    margin: 20px 0; /* Margens acima e abaixo do título */
}

.gallery-container p {
    font-size: 1.2em; /* Tamanho da fonte do parágrafo */
    color: var(--text-color); /* Usando a cor definida na root */
    text-align: center; /* Centraliza o texto */
    margin: 10px 0; /* Margens acima e abaixo do parágrafo */
}

/* Ajustes para a navbar */
.navbar {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: rgb(79, 172, 121);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, text-decoration 0.3s;
}

.nav-list a:hover {
    text-decoration: underline;
    color: #84c993;
}

/* Estilos para o fundo em telas maiores */
body {
    background-image: url('./assets/images/background.jpg');
    background-size: cover; /* Mantém o cover para desktops */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Media Queries para responsividade */

/* Ajustes em tablets (largura máxima de 768px) */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    /* Ajuste para evitar cortes e preencher a largura da tela */
    body {
        background-size: cover; /* Mantém o cover para tablets */
        background-position: center center; /* Centraliza */
    }

    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 1.2em;
        padding: 0 10px;
    }

    .gallery-container {
        padding: 15px;
    }
}

/* Ajustes em dispositivos móveis (largura máxima de 480px) */
@media (max-width: 480px) {
    /* Ajustes gerais */
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
        padding: 0 10px;
    }

    /* Ajustes para garantir que o fundo cubra toda a tela no mobile */
    body {
        background-image: url('./assets/images/background_mobile.jpg');
        background-size: cover; /* Faz a imagem cobrir toda a área visível */
        background-position: top center; /* Ajusta a posição para o topo centralizado */
        background-repeat: no-repeat;
        background-attachment: scroll; /* Remove o efeito de fixação */
    }

    /* Redução do espaçamento e margens */
    .navbar {
        padding: 8px;
        margin: 5px;
    }

    .nav-list {
        flex-direction: column; /* Menu em coluna no mobile */
        align-items: center;
    }

    .nav-list li {
        margin: 8px 0;
    }

    .gallery-container {
        padding: 10px;
    }

    .footer {
        padding: 10px;
        font-size: 0.9em;
    }
}
