/* Estilos globais */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Estilos de fundo */
:root {
    --primary-color: transparent; /* Fundo semitransparente */
    --secondary-color: transparent;
    --background-color: #94c7a6;
    --text-color: #e0dcdd;
    --text-light-color: #768686;
}

.gallery-container h1 {
    font-size: 2em; /* Tamanho da fonte do título */
    color: var(--text-light-color); /* Usando a cor definida na root */
    text-align: center; /* Centraliza o texto */
    margin: 20px 0; /* Margens acima e abaixo do título */
}

.gallery-container p {
    font-size: 1.2em; /* Tamanho da fonte do parágrafo */
    color: var(--text-color); /* Usando a cor definida na root */
    text-align: center; /* Centraliza o texto */
    margin: 10px 0; /* Margens acima e abaixo do parágrafo */
}

/* Ajustes para a navbar */
.navbar {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: #4d4e4e;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, text-decoration 0.3s;
}

.nav-list a:hover {
    text-decoration: underline;
    color: #84c993;
}

/* Estilos para o fundo em telas maiores */
body {
    background-image: url('./assets/images/background.jpg');
    background-size: cover; /* Mantém o cover para desktops */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Estilos para a seção de presentes */
.presentes-container {
    background-color: var(--background-color); /* Cor de fundo da seção de presentes */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
}

.presentes-container h1 {
    font-size: 2em; /* Tamanho do título */
    color: var(--text-light-color); /* Cor do texto */
    margin: 20px 0; /* Margens do título */
}

.presentes-container p {
    font-size: 1.2em; /* Tamanho do parágrafo */
    color: var(--text-color); /* Cor do texto */
    margin: 10px 0; /* Margens do parágrafo */
}

.presentes-grid {
    display: flex; /* Flexbox para layout de grade */
    flex-wrap: wrap; /* Permite que os itens quebrem linha */
    gap: 20px; /* Espaçamento entre os itens */
    justify-content: center; /* Centraliza os itens */
}

.presente-item {
    border: 1px solid #ddd; /* Bordas dos itens */
    padding: 10px; /* Espaçamento interno */
    width: 300px; /* Largura fixa para os itens */
    text-align: center; /* Centraliza o texto */
    background-color: #ffffff; /* Cor de fundo dos itens */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.presente-item img {
    width: 100%; /* Largura da imagem */
    height: auto; /* Altura automática para manter proporção */
    border-radius: 5px; /* Bordas arredondadas nas imagens */
}

.presente-item button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove borda do botão */
    cursor: pointer; /* Muda o cursor para ponteiro */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave para cor de fundo */
}

.presente-item button:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse */
}

/* Media Queries para responsividade */

/* Ajustes em tablets (largura máxima de 768px) */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    /* Ajuste para evitar cortes e preencher a largura da tela */
    body {
        background-size: cover; /* Mantém o cover para tablets */
        background-position: center center; /* Centraliza */
    }

    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 1.2em;
        padding: 0 10px;
    }

    .gallery-container {
        padding: 15px;
    }

    .presentes-grid {
        flex-direction: column; /* Empilha os itens verticalmente em telas pequenas */
        align-items: center; /* Centraliza os itens na coluna */
    }
}

/* Ajustes em dispositivos móveis (largura máxima de 480px) */
@media (max-width: 480px) {
    /* Ajustes gerais */
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
        padding: 0 10px;
    }

    /* Ajustes para garantir que o fundo cubra toda a tela no mobile */
    body {
        background-image: url('./assets/images/background_mobile.jpg');
        background-size: cover; /* Faz a imagem cobrir toda a área visível */
        background-position: top center; /* Ajusta a posição para o topo centralizado */
        background-repeat: no-repeat;
        background-attachment: scroll; /* Remove o efeito de fixação */
    }

    /* Redução do espaçamento e margens */
    .navbar {
        padding: 8px;
        margin: 5px;
    }

    .nav-list {
        flex-direction: column; /* Menu em coluna no mobile */
        align-items: center;
    }

    .nav-list li {
        margin: 8px 0;
    }

    .gallery-container {
        padding: 10px;
    }

    .footer {
        padding: 10px;
        font-size: 0.9em;
    }
}

.presentes-container {
    padding: 20px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 80%;
    max-width: 500px;
}

.presentes-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Estilos para os botões */
.button {
    padding: 10px 20px; /* Espaçamento interno */
    background-color: rgba(70, 67, 67, 0.1); /* Cor de fundo do botão com 80% de opacidade */
    color: rgb(231, 230, 145); /* Cor do texto do botão */
    border: none; /* Remove borda do botão */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor para ponteiro */
    font-size: 1.1em; /* Tamanho da fonte do botão */
    transition: background-color 0.3s, transform 0.3s; /* Transições suaves */
    margin: 10px; /* Margem ao redor do botão */
}

.button:hover {
    background-color: #404140; /* Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

/* Estilos para as seções */
.section {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semitransparente */
    padding: 20px; /* Espaçamento interno */
    margin: 20px auto; /* Margem em torno da seção */
    border-radius: 10px; /* Bordas arredondadas */
    max-width: 800px; /* Largura máxima da seção */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos para a página de Confirmação de Presença */
.confirmacao-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.confirmacao-container h1 {
  font-size: 2.5em;
  color: #2e2e2e;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.confirmacao-container p {
  font-size: 1.2em;
  color: #4a4a4a;
  margin-bottom: 30px;
  font-family: 'Arial', sans-serif;
}

.confirmacao-link {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2em;
  background-color: #28a745;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
}

.confirmacao-link:hover {
  background-color: #218838;
  transform: scale(1.05);
}

